/*Copyright Bridgeline Software, Inc. An unpublished work created in 2009. All rights reserved. 
This software contains the confidential and trade secret information of Bridgeline Software, Inc.("Bridgeline").  
Copying, distribution or disclosure without Bridgeline's express written permission is prohibited.*/

.ImageAlignLeft{    /* if image is left side of text */
    float: left;
    padding-right: 28px;
}

.ImageAlignRight{    /* if image is right side of text */
    float: right;
    padding-left: 28px;
}