body
{
    font-family: verdana;
    font-size: 11px;
    line-height: 14px;
    padding: 5px;
    color: #000000;
    background-color: #fff;
}
a
{
    color: #666666 !important;
    text-decoration: none !important;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 40px;
    margin-bottom: 10px;
}

ul li
{
    margin: 0;
    list-style: none;
    padding: 0 0 5px 19px;
    background-image: url(/images/RectBullet.gif);
    background-repeat: no-repeat;
    background-position: 0px 6px;
}

table
{
    border-right: #999999 1px dashed;
    border-bottom: #999999 1px dashed;
}

table td
{
    padding: 1px;
    border-top: #999999 1px dashed;
    border-left: #999999 1px dashed;
}

table th
{
    padding: 1px;
    border-top: #000000 1px dashed;
    border-left: #000000 1px dashed;
}

/** Styles for Email, Print and Share Block Start **/
div.printEmailBlock
{
    border: solid 1px #DBDBDB;
    width: 128px;
    margin: 2px 0 5px 10px;
    float: right;
    display: inline;
}

div.printEmailBlock div
{
    margin-left: 10px;
    border-bottom: solid 1px #DBDBDB;
    color: #666;
    font-size: 1.1em;
}

div.printEmailBlock div a
{
    color: #666;
    font-weight: normal !important;
    text-decoration: none !important;
}

div.printEmailBlock div img
{
    vertical-align: middle;
    margin: 6px 5px 6px 0;
    border: 0 !important;
}

div.printEmailBlock div img.emailImg
{
    margin-right: 4px;
}

div.printEmailBlock div.shareDiv
{
    border-bottom: none;
}

div.printEmailBlock div img.shareImg
{
    margin-left: 8px;
}

div.printEmailBlock a img
{
    border: 0 !important;
}

div.share
{
    border-bottom: 0 !important;
}

div.share a, div.share a.collapsed
{
    display: block;
    height: 30px;
    line-height: 30px;
    text-indent: 31px;
    background: url(/images/share.gif) no-repeat 5px 10px !important;
}

div.share a.expanded
{
    background: url(/images/shareExpanded.gif) no-repeat 5px 10px !important;
}

ul.shareList
{
    display: none;
    margin: 0;
    padding: 0 0 10px 15px;
    list-style: none;
}

ul.shareList li
{
    padding: 8px 0;
    list-style-type: none;
}

ul.shareList li a
{
    color: #666;
}

ul.shareList li a img
{
    float: left;
    margin-right: 7px;
}

/** Styles for Email, Print and Share Block End **/
.msWordicon
{
    background-image: url(/images/msWordImg.gif) !important;
    background-repeat: no-repeat;
    background-position: left 0 !important;
}
.msHTMLicon
{
    background-image: url(/images/msHTMLimg.gif) !important;
    background-repeat: no-repeat;
    background-position: left 0 !important;
}
.msExcelicon
{
    background-image: url(/images/msExcelImg.gif) !important;
    background-repeat: no-repeat;
    background-position: left 0 !important;
}
.pdf
{
    background-image: url(/images/PDF_icon.gif) !important;
    background-repeat: no-repeat;
    background-position: left 0 !important;
}
.generalPdf
{
    background-image: url(/images/red_Icon_Docs.gif) !important;
    background-repeat: no-repeat;
    background-position: left 0 !important;
}
div.singleDocs
{
    background-image: url(/images/msWordImg.gif) !important;
    background-repeat: no-repeat;
    background-position: left 0.4em;
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    color: #7D922B !important;
}
div.singleDocs a, div.singleDocs a:visited
{
    color: #7D922B !important;
    text-decoration: none !important;
    font-weight: normal;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
    display: block;
}
div.singleDocs a:hover
{
    text-decoration: underline !important;
    color: #7D922B;
}

div.htmldoc
{
    background-image: url(/images/msHTMLimg.gif) !important;
    background-repeat: no-repeat;
    background-position: left center;
}
div.xlsdoc
{
    background-image: url(/images/msExcelImg.gif) !important;
    background-repeat: no-repeat;
    background-position: left center;
}
div.pdfdoc
{
    background-image: url(/images/PDF_icon.gif) !important;
    background-repeat: no-repeat;
    background-position: left center;
}
ul.contactList
{
    list-style: none !important;
    margin: 5px 0px 0px 0px !important;
    padding: 0px !important;
}
ul.contactList li
{
    color: #666666;
    background-image: url(/images/bulletDarkGrey.gif) !important;
    background-repeat: no-repeat;
    background-position: left 6px !important;
}
ul.contactList li a
{
    color: #666666 !important;
    text-decoration: none;
}
ul.contactList li a:hover
{
    color: #666666;
    text-decoration: underline;
}
ul.linkList
{
    list-style: none !important;
    margin: 5px 5px 5px 0px !important;
    padding: 0px !important;
}
ul.linkList li
{
    list-style: none !important;
    color: #7D922B;
    background-image: url(/images/QuestionList_arrow.gif) !important;
    background-repeat: no-repeat;
    background-position: left 6px !important;
}
ul.linkList li a, ul.linkList li a:link, ul.linkList li a:visited
{
    color: #7D922B;
    text-decoration: none;
}
ul.linkList li a:hover
{
    text-decoration: underline;
    color: #7D922B;
}
ul.linkList li ul li, ul.linkList ul li
{
    background-image: none !important;
    padding-left: 0px !important;
}
ul.documentList
{
    margin: 0px !important;
    padding: 0px 0px 0px 0px !important;
}
ul.documentList li
{
    list-style: none !important;
}
ul.documentList a.msHTMLicon, ul.documentList a.msExcelicon, ul.documentList a.pdf
{
    color: #7D922B !important;
}
ul.documentList a
{
    display: block;
    text-decoration: none !important;
    color: #7D922B !important;
}
ul.documentList li.generalPdf a:link, ul.documentList li.generalPdf a:visited
{
    padding-left: 15px;
}
ul.documentList a:hover
{
    text-decoration: underline !important;
    color: #7D922B !important;
}
li.pdf, li.msWordicon, li.msHTMLicon, li.msExcelicon, li.msWordicon
{
    padding-left: 25px !important;
}
a img
{
    border: 0 !important;
}
#sideInfoSection P
{
    color: #7798bb;
    padding-left: 14px;
    padding-right: 7px;
    margin-top: 0px;
}

#infoSection h4
{
    font-size: 1.2em;
    color: #e77802;
    font-weight: bold;
    margin: 0;
}

#infoSection H5
{
    font-size: 1.2em;
    color: #666;
    margin: 0;
    margin-bottom: 10px;
}

#infoSection H6
{
    color: #666;
    font-size: 1.0em;
    margin: 0;
    padding-bottom: 3px;
}
#infoSection a:link
{
    text-decoration: none;
    color: #0071bd;
}
#infoSection a:visited
{
    text-decoration: none;
    color: #ccc;
}
#infoSection a:hover
{
    text-decoration: none;
    color: #e77802;
}
#infoSection P, #infoSection span
{
    margin-top: 0;
}
